
::placeholder {
		color : steelblue;
}




input[type="text"],input[type="email"], select {

	display : block;
	margin :15px 15px 15px 15px;
	background-color : lightblue;
	width : 400px;
	padding : 15px;
	box-sizing : border-box;
	box-shadow : inset 4px 4px 6px steelblue;
	color : steelblue;
}

textarea {
	display : block;
	margin :15px 15px 15px 15px;
	background-color : lightblue;
	width : 400px;
	height : 250px;
	padding : 15px;
	box-sizing : border-box;
	box-shadow : inset 4px 4px 6px steelblue;
	color : steelblue;
}


 button {
	display : block;
	margin :15px 15px 15px 15px;
	background-color : steelblue;
	padding : 15px;
	box-sizing : border-box;
	color : skyblue;
	border : 1px;
	border-style : solid;
	border-color : lightblue;
 }	 

 button:hover {
	display : block;
	margin :15px 15px 15px 15px;
	background-color : lightblue;
	padding : 15px;
	box-sizing : border-box;
	color : black;
 }		 