body {
background-color : darkgrey;
}


header {
	 padding : 15px;
	 background-color : skyblue;
	 height : 150px;
	 margin : 0% 20% 0% 20%;
	}
	
	header ul {
		display: Inline-flex;
		list-Style : none;
		text-decoration : none;
	}
	
	header ul li {
		margin : 0px 5px 0px 5px;
		padding : 5px;
		width : 100px;
		background-color : steelblue;
		text-align : center;
		border-top-left-radius : 15px;
		border-bottom-right-radius : 15px;
		
	}
	
	header ul li:hover {
		background-color : lightblue;
		border-top-right-radius : 15px;
		border-bottom-left-radius : 15px;
		border-top-left-radius : 0px;
		border-bottom-right-radius : 0px;
	
	
	}
	
	header ul li a {
	text-decoration : none;
	color : white;
	box-sizing : border-box;
	}
	
	header ul li a:hover {
	Color : black;
	}
	
	section {
		padding : 15px;
		background-color : white;
		margin : 0% 20% 0% 20%;
	}
	
	
	footer {
		padding : 15px;
		background-color : skyblue;
		height :  150px;
			 margin : 0% 20% 0% 20%;
	}
	
	
	#copyright { 
		color : steelblue;
	}
	