
/* pagina kleuren 


	1# kleur1 = #FF7500; 	// Orangje
	2# kleur2 = #FFDDBC; 	// lightBerge/oranje
	3# kleur3 = snow 		// snow
*/



/* pagina gedeelde style */
		

			body {
				padding : 0% 20% 0% 20%;
				background-color : #ADADAD;
				font-family: 'Courgette', cursive;
			}
		
		
			@media not screen and (min-width : 768px) {
			body {
				padding : 0% 0% 0% 0%;
				background-color : blue;
				font-family: 'Courgette', cursive;
			}
			}
		
			header {
				width : 100%;
				padding : 5px;
				position : relative;
				margin-top : 0px;
				height : 150px;
				background-color : #FF7500;
				border-top-left-radius : 15px;
				box-shadow : 3px 3px 5px #B35300;
			}
		
			h1 {
				margin : 10px;
				color : snow;
			}


			h2 {
				margin-bottom : 5px;
				color : #FF7500;
				
			}

			h3 {
				margin : 15px;
				margin-bottom : 5px;
				padding : 10px;
				color : #B35300;
			}		
		

		/* pagina menu's */
			nav {
				position : absolute;
				diplay : block;
				bottom : 0;
				left : 0;
			}
		
			nav ul li {
				
				min-width : 150px;
				padding : 5px;
				text-align : center;
				display : inline-block;
				list-style : none;
				background-color : snow;	
			}

			nav ul li a {
				text-decoration : none;
				display : block;
				color : snow;
			}

			nav ul li a:hover {
				text-decoration : none;
				display : block;
				color : #FF7500;
			}

			nav ul li.currentPage a {
				text-decoration : none;
				display : block;
				color : snow;
			}


			.currentPage {
				background-color : #B35300;
				color : snow;
			}
			
			.otherPage {
				background-color : #FF7500;
			
			}
			
			.otherPage:hover {
				background-color : #FFDDBC;
				color : #FF7500;
			}



			
			section {
				padding : 5px;
				width : 100%;
				background-color : snow;
				margin-top : 10px;
				margin-bottom : 10px;
				border-radius : 0px;
				box-shadow : 3px 3px 5px #B35300;
			}
		
			article {
				padding : 15px;
				border : 1px;
				background-color : snow;
				border-style : solid;
				border-color : #FF7500;
				border-radius : 0px;
				border-top-right-radius : 15px;
				border-bottom-left-radius : 15px;
			}
		
		
			aside {
				display : none;
			}
		
			footer {
				padding : 5px;
				width : 100%;
				height : 250px;
				background-color : #FF7500;
				border-bottom-right-radius : 15px;
				box-shadow : 3px 3px 5px #B35300;
				vertical-align : bottom;
			}

			footer ul {
				list-style : none;
				margin-left : 5%;
				width : 20%;
				float : left;
			}
			footer ul li {
				padding : 5px;
				text-align : center;
				border-color :   #FF7500;
				color : #B35300;
			}
			
			footer ul li:hover {
				background-color : #FFDDBC;
			}	

			footer ul li a {
				display : block;
				text-decoration : none;
				color : snow;
			}

			footer ul li a:hover {
				display : block;
				text-decoration : none;
				color : #FF7500;
			}


			footer span#copyrights {
				display : block;
				float : right;
				margin-top : 10%;
				margin-right : 5%;
				color : #FF7500;
			}
			
			
		/* over mij pagina style */

		
		#Overmij_title {
			vertical-align : top;
			display : block;
			margin-top : 20px;
		}


		#Overmij_links {
			padding-top : 0px;
			vertical-align : top;
			margin-left : 0%;
			margin-right : 1%;
			display : inline-block;
			min-width: 49%;
			max-width : 49%;			
		}

			/* paragrafen */
			#Overmij_links p {
				margin-top : 0px;
				display : block;
				width : 90%;
				padding : 5%;
				min-height : 180px;
				background-color : #FFDDBC;
				border-top-right-radius : 0px;
				border-bottom-left-radius : 15px;
				font-size : 20px;
				color : #B35300;
			}

			ul#bijMijTerecht {
				display : block;
				list-style : none;
				font-size : 25px;
			}

			ul#bijMijTerecht ul {
				display : inline-block;
				list-style : square;
				font-size : 20px;
				color : #B35300;
			}	
	


		#Overmij_rechts {
			margin-top : 0px;
			margin-left : 0%;
			margin-right : 0%;
			display : inline-block;
			min-width: 49%;
			max-width : 49%;
		}
			
			
			#Overmij_rechts	p {
				margin-top : 0px;
				display : block;
				padding : 5%;
				width : 90%;
				min-height : 180px;
				background-color : #FFDDBC;
				border-top-right-radius : 0px;
				border-bottom-left-radius : 15px;
				font-size : 20px;
				color : #B35300;
			}
			
			#pictureFrame {
				padding : 1% 1% 1% 1%;
				
				display : block;
				max-width : 100%;
				margin-top: 0px;
				background-color : #B35300;				
				border-top-right-radius : 15px;
			}
			
			#pictureFrame span {
				color : #FFDDBC;
				font-size : 25px;
			}
			
			img {
				display : inline;
				width : 100%;
				border-top-right-radius : 15px;
				border-bottom-left-radius : 15px;		
			}

		

		
		
			
			
	
			
			/* mijn cv style */
			div#mijn_cv_title {
				display : block;
				margin-bottom : 20px;
			}
			
			
			div#mijnCv_links {
				display : inline-grid;
				margin-top : 0px;
				width : 49%;
			}
			
				div#mijnCv_links p {
					margin-top : 0px;
					padding : 5%;
					min-width : 90%;
					background-color : #FFDDBC;
					border-bottom-left-radius : 15px;
					font-size : 20px;
					color : #B35300;
				}
			
				
			div#mijnCv_rechts {
				margin-left : 1%;
				display : inline-grid;
				padding : 0px;
				max-width : 49%;
			}
			
				div#mijnCv_rechts p {
					margin-top : 0px;
					margin-left : 0%;
					padding : 5%;
					width : 90%;
					background-color : #FFDDBC;
					border-top-right-radius : 15px;
					border-bottom-left-radius : 15px;
					font-size : 20px;
					color : #B35300;
				}
			
		/* mijn cv rechts */
			/* mijn cv  pagina navigatie */
			div#mijnCv_rechts ul li{
				color : #B35300;
				box-sizing : border-box;
			}
		
			div#mijnCv_rechts ul li a {
				text-decoration : none;
				display : block;
				color : #B35300;
				box-sizing : border-box;
			}

			div#mijnCv_rechts ul li a:hover {
				text-decoration : none;
				background-color : #FFDDBC;
				display : block;
				color : #FF7500;
			}

				div#mijnCv_rechts ul {
					padding : 0px;
					margin : 0px 0px 0px 0px;
					list-style : none;
				}
		
				div#mijnCv_rechts ul li {
					margin-top : 1%;
					margin-left : 0px;
					display : block;
					list-style : none;
					box-sizing : border-box;
					border : 1px;
					padding : 1%;
					border-color : #FF7500;
					border-style : solid;
				}

				div#mijnCv_rechts ul li:hover {
					background-color : #FFDDBC;
				}
				
		
		
		
		
		
			/* terug naar de top van de pagina style */
			ul.terug_naar_de_top {
				padding : 0px;
				margin : 0px 0px 0px 75%;
				display : block;
				list-style : none;
				width : 25%;
			}
		
			ul.terug_naar_de_top li {
				margin-top : 1%;
				margin-left : 0px;
				display : block;
				list-style : none;
				padding : 1%;
				border : 1px;
				border-color : #FF7500;
				border-style : solid;
			}

			ul.terug_naar_de_top li:hover {
				margin-top : 1%;
				margin-left : 0px;
				display : block;
				list-style : none;
				background-color : #FFDDBC;
				border-color : #FF7500;
			}
			
			ul.terug_naar_de_top li a {
				text-decoration : none;
				box-sizing : border-box; 
				color : #B35300;
			}
			
			ul.terug_naar_de_top li a:hover {
				color : #FF7500;
			}
		


			
			
			
			
			/* mijn scholing table style */
			table#mijn_scholing {
				margin-top : 5%;
				width : 100%;	
			}
			
				table#mijn_scholing #first {
					width : 50%;	
				}

				table#mijn_scholing #second {
					width : 50%;	
				}
			
			/* mijn werk ervaring table style */
			table#mijn_werk_ervaring {
				margin-top : 5%;
				width : 100%;	
			}
			
			
				table#mijn_werk_ervaring #first{
					width : 20%;
				}
			
				table#mijn_werk_ervaring #second{
					width : 20%;
				}
			
				table#mijn_werk_ervaring #third{
					width : 60%;
				}
			
			
		
			/* mijn persoonlijke projecten table style */
			
			table#mijn_persoonlijke_projecten {
				margin-top : 5%;
				width : 100%;	
			}
							
				table#mijn_persoonlijke_projecten #first {
					width : 20%;	
				}
				
				table#mijn_persoonlijke_projecten #second {
					width : 80%;	
				}


	
			/* mijn kennis table style */
	
			table#mijn_kennis {
				margin-top : 5%;
				width : 100%;	
			}
						
				table#mijn_kennis #firts {
					width : 50%;	
				}

				table#mijn_kennis #second {
					width : 50%;	
				}
			
			
			
			table caption {
				background-color : #FF7500;
				padding : 15px;
				color : snow;
			}
			
			caption.top {
				border-top-right-radius : 15px;		
			}
			
			table th {
				color : #FF7500;
				padding : 15px;
		
			}
			
			table td {
				padding : 15px;
				color : #B35300;
		
			}

			.centeredText {
				text-align : center;
			}

			table td#last {
				border-bottom-left-radius : 15px;		
			}
			
			
			table tr#even {
				background-color : #FFDDBC;
			}
			
			
			

		
		
		/* contact pagina */
		
		
		div#contact_left {
			width : 49%;
			display  : inline-grid;
			
		}
		 
			div#contact_left p {
				margin-right : 15px;
				padding : 5%;
				width : 90%;
				background-color : #FFDDBC;
				border-bottom-left-radius : 15px;
				font-size : 20px;
				color : #B35300;
			}
		
		#contact_right {
				display : inline-grid;
				width : 49%;
				margin-top : 0%;
				margin-left : 1%;
				border : 1px;
				border-style : solid;
				border-color : #B35300;				
				border-top-right-radius : 15px;
				border-bottom-left-radius : 15px;
			}
			
			/* form style */
			
		form {
		width : 90%;
		padding : 5%;
		box-sizing: border-box;

		}			
			
		input[type="text"], input[type="email"], input[type="submit"], select{
			padding : 15px;
			width : 100%;
			display : block;
			background-color : #FFDDBC;
			margin-bottom : 15px;
			border : 1px;
			border-color : #B35300;
			border-style : solid;
			box-sizing : border-box;
		}
		
		input[type="text"]:hover, input[type="email"]:hover, input[type="submit"]:hover select:hover textarea {
			border : 1px;
			border-color : #FF7500;
			border-style : solid;
		}
		
		#formTopStyle {
			border-top-right-radius : 15px;
		}
		
		#formBottonStyle {
			margin-top: 15px;
			margin-left : 400px;
			margin-bottom : 10px;
			margin-right : 10px;
			border-bottom-left-radius : 15px;
			border-color : #FF7500;
			background-color : snow;
		}

		#formBottonStyle:hover {
			margin-top: 15px;
			margin-left : 400px;
			margin-bottom : 10px;
			margin-right : 10px;
			border-bottom-left-radius : 15px;
			background-color : #FFDDBC;
		}
		
		
		
		textArea {
			margin-bottom : 15px;
			padding : 15px;
			width : 100%;
			display : block;
			background-color : #FFDDBC;
			height : 200px;
			border-bottom : 15px;
			box-sizing : border-box;
		}
		
		button {
			padding : 15px;
			display : block;
		}
			